/* For use in src/lib/core/theming/_palette.scss */
$blue: (
    50 : #e6e8ec,
    100 : #c1c7cf,
    200 : #98a1b0,
    300 : #6f7b90,
    400 : #505f78,
    500 : #314360,
    600 : #2c3d58,
    700 : #25344e,
    800 : #1f2c44,
    900 : #131e33,
    A100 : #739cff,
    A200 : #4078ff,
    A400 : #0d55ff,
    A700 : #0048f2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$red: (
    50 : #f7eced,
    100 : #ebcfd2,
    200 : #deafb4,
    300 : #d18e95,
    400 : #c7767f,
    500 : #bd5e68,
    600 : #b75660,
    700 : #ae4c55,
    800 : #a6424b,
    900 : #98313a,
    A100 : #ffe0e3,
    A200 : #ffadb4,
    A400 : #ff7a84,
    A700 : #ff616d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$white: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

