<div class="container-fluid">
            <div class="auth__formBox">
                <span class="auth__icon">
                    <img src="/assets/img/icon-left-font-monochrome-black.png" width="400">
                </span>

                <div class="auth__form">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="" type="email" name="email" ngModel required
                                    autocomplete="off">
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Mot de passe : </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
                            </mat-form-field>
                        </div>
                        <button mat-button type="submit" [disabled]="f.invalid"> Se connecter</button>
                        <div class="text"> Vous n'avez pas encore de compte ? <a [routerLink]="['/subscription']">
                                Inscrivez vous </a> ! </div>
                    </form>
                </div>
            </div>
</div>